#GradeDiv{
    position: absolute;
    margin: 200px,auto
}

#Grade9{
    background-color: #BCE3FA;
    width: 100px;
    height: 100px;
    margin: 30px;
    border-radius: 15px;
    border: none;
}

#Grade10{
    background: #BCE3FA;
    width: 100px;
    height: 100px;
    margin: 30px;
    border-radius: 15px;
    border: none;
}

#Grade11{
    background: #BCE3FA;
    width: 100px;
    height: 100px;
    margin: 30px;
    border-radius: 15px;
    border: none;
}

#Grade12{
    background: #BCE3FA;
    width: 100px;
    height: 100px;
    margin: 30px;
    border-radius: 15px;
    border: none;
}